html {
  height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;

  font-family: "MullerRegular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $black;

  overflow-x: hidden;
}

h1, h2, h3 {
  margin: 0;
  font-family: "MullerMedium", Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.v-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  width: 260px;
  height: 51px;

  font-family: "MullerMedium", Arial, Helvetica, sans-serif;

  color: $white;
  font-size: 16px;
  line-height: 18px;
  background-color: $orange;

  border: none;
  border-radius: get-vw(30px);
  box-shadow: $orangeShadow;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $lightOrange;
    box-shadow: $lightOrangeShadow;

    outline: none;
  }
}

.title {
  font-family: "MullerMedium", Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 50px;

  letter-spacing: -0.1px;
}

.sub-title {
  font-family: "MullerMedium", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $cyan;

  letter-spacing: 0.62px;
  text-transform: uppercase;
}
