.container {
  position: relative;

  max-width: $desktop-width;

  margin: 0 auto;

  &--fullpage {
    width: 100%;
    height: fill-available;

    max-width: 100%;

    margin: 0;

    padding: 20px;
  }
}
