$desktop-width: 1880px;

$desktop-xl: 1879px;
$desktop-lg: 1279px;
$desktop: 1023px;
$mobile: 767px;

$black: #000;
$white: #fff;
$orange: #F9572E;
$lightOrange: #FF7B59;
$gray: #666666;
$lightGray: #CCCCCC;
$lightestGray: #F2F2F2;
$darkGray: #383838;
$cyan: #33B5A3;

$orangeShadow: 0px 7px 15px rgba(249, 87, 46, 0.6);
$lightOrangeShadow: 0px 15px 20px rgba(249, 87, 46, 0.7);

